<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Lab 8</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>

<body>
    <header>
        <button type="button">Profile</button>
        <h1>Our Main Handlebars Page</h1>
         <form id="search-form">
        <div class="form-group">
            <label for="searchStr">Search Games!:</label>
            <input type="text" class="form-control" id="searchStr" name="searchStr" placeholder="Search for Games" value="{{searchStr}}">
        </div>
        <div class="form-group hidden" id="error-container">
            <div class="alert alert-danger text-goes-here">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
        <div class="form-group hidden" id="result-container">
            <div class="alert alert-success text-goes-here">
            </div>
        </div>
        </form>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>

    <script src="/public/js/form.js"></script>

    <footer>
    </footer>
</body>

</html>