<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Gamey Website</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>

<body>
    <header>

        <form id="profile-form" action="/profile" method="get">
            <button type="submit" id="profile-button">Profile</button>
        </form>

        <form id="dash-form" action="/dashboard" method="get">
            <button type="submit" id="dashboard-button">Dashboard</button>
        </form>

        <form id="search-form" action="/games" method="post">
            <div>
                <label>Search Games:</label>
                <input type="text" name="searchStr" id="searchStr" placeholder="Search for Games">
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default"/>
            </div>
        </form>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>

    <script src="/public/js/form.js"></script>

    <footer>
    </footer>
</body>

</html>