<body>
    <header>
        <h1>Log In</h1>
    </header>


    <form id="login-form" action="/users" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" id="user"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" id="pass"/>
        </div>
        <div class="form-group hidden" id="error-container">
            <div class="alert alert-danger text-goes-here">
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Log In" class="btn btn-default"/>
        </div>
    </form>
    
</body>