<div class="container">
        
  <div class = "row">
    <div class = "col-md-3"></diV>
    <div class = "col-md-6">
      <h1 id= "welcome">welcome to mdgames</h1>
        <form id="login-form" action="/login" method="post">
            <fieldset>
              <legend>log in</legend>
              <div class="form-group">
              <label for="username" class="labelitem">username:</label>
              <input type="text" name="username" id="username" placeholder="username" required class="form-control"/></div>
              <div class="form-group">
              <label for="password" class="labelitem">password</label>
              <input type="password" name="password" id="password" placeholder="password" required class="form-control"/></div>
              <section id="submit">
                <input type="submit" value="log in" class="btn btn-basic btn-default"/>
              </section>
           </fieldset>
        </form>
      </div>
    <div class = "col-md-3"></diV>
  </div>
  
  <br>
  <br>

  <div class = "row">
     <div class = "col-md-3"></diV>
    <div class = "col-md-6">
    <form id="acc-form" action="/register" method="post">
        <fieldset>
          <legend>create an account</legend>
          <div class="form-group">
          <label for="username" class="labelitem">username:</label>
          <input type="text" name="username" id="username" placeholder="username" required class="form-control"/></div>
          <div class="form-group">
          <label for="password" class="labelitem">password</label>
          <input type="password" name="password" id="password" placeholder="password" required class="form-control"/></div>
          <section id="submit">
            <input type="submit" value="create account" class="btn btn-basic btn-default"/>
          </section>
       </fieldset>
    </form>
    </div>
    <diV class = "col-md-3"></diV>
  </div>
  
    
</div>  