<section>
  <h1>Games</h1>
  {{#each games}}  
    <article class="game">
      <h2>{{this.name}}</h2>
      <img src={{this.art}} alt="Game Art">
      <p>{{this.keywords}}</p>
      <p>{{this.description}}</p>
    </article>
  {{/each}}
</section>