<section>
  <h1>Games</h1>
  <h2>Click a Game Title to go to the Game Page!</h2>
  {{#each games}}  
    <article class="game">
      <h2><a href="/games/{{this._id}}">{{this.name}}</a></h2>
      <img src={{this.art}} alt="Game Art">
      <p>{{this.description}}</p>
    </article>
  {{/each}}
</section>