<article class="single-game">
    <h1>Game page</h1>

    <h2>{{game.name}}</h2>
    <img src={{game.art}} alt="Game Art">
    <p>Keywords: {{game.keywords}}</p>
    <h3>Description:</h3>
    <p>{{game.description}}</p>
</article>